/*Basics*/

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/*Banner*/

.banner {
  background-image: url("./Images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}

/*Header*/

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: -50rem;
}

ul li {
  margin-right: 1rem;
  display: inline;
}

/*banner text*/

.banner .flex {
  justify-content: flex-end;
}

.flex h1 {
  padding: 1.5rem 5rem;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
}

/*Main Content*/

.contentcontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.papericon {
  width: 3.5rem;
  margin-bottom: 1rem;
}

.rulericon {
  width: 5rem;
  margin-bottom: 1rem;
}

.truckicon {
  width: 5rem;
  margin-bottom: 1rem;
}

/*content*/

.textcontent {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

h5 {
  background-color: cadetblue;
  margin-top: 3rem;
  width: 10rem;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
}

/*footer*/

footer {
  background-color: azure;
  width: 100%;
  margin-top: 5rem;
}

.footertext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}
